<template>
  <ul class="hoge">
    <li data-label="title"><input v-bind:value="message" v-on:keyup="$emit('update', $event.target.value)"></li>
  </ul>
</template>

<script>
export default {
  name: 'InputList',
  props: {
    message: {
      type: String,
    },
  },
};
</script>

<style scoped>
.hoge {
  padding: 15px;
  background: #bbb;
  border-radius: 10px;
  }
  li {
    display: block;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    }
    li > input {
      width: 200px;
      background: none;
      border: none;
      border-bottom: 1px solid #fff;
      color: inherit;
      font: inherit;
    }
    li::before {
      content: attr(data-label);
      position: relative;
      display: inline-block;
      padding: 0 5px;
      margin-right: 10px;
      color: #fff;
      border-radius: 3px;
      background-color: #42b983;
      vertical-align: middle;
    }
</style>

