<template>
  <div id="app">
    <img src="./assets/logo.png">
    <HelloWorld :message="messageParent" />
    <InputList :message="messageParent" v-on:update="updateFunc" />
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import InputList from './components/list';

export default {
  name: 'app',
  components: {
    HelloWorld,
    InputList,
  },
  data() {
    return {
      newTodoText: '',
      messageParent: 'Welcome to Your Vue.js App',
    };
  },
  methods: {
    updateFunc(message) {
      this.messageParent = message;
    },
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
